libId = ddGetObj("tsmc13rf")
libPath = ddGetObjReadPath( libId )
pcfPath = strcat(libPath "/../models/spectre")
corAddProcess( "tsmc13rf" pcfPath  "multipleModelLib" )

corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfmos.scs" '("ff_rfmos" "fs_rfmos" "sf_rfmos" "ss_rfmos" "tt_rfmos" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfmos25.scs" '("ff_rfmos25" "fs_rfmos25" "sf_rfmos25" "ss_rfmos25" "tt_rfmos25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfmim.scs" '("ff_rfmim" "ss_rfmim" "tt_rfmim" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfind.scs" '("ff_rfind" "ss_rfind" "tt_rfind" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfmvar.scs" '("ff_rfmvar" "ss_rfmvar" "tt_rfmvar" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfmvar_25.scs" '("ff_rfmvar_25" "ss_rfmvar_25" "tt_rfmvar_25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfjvar.scs" '("ff_rfjvar" "ss_rfjvar" "tt_rfjvar" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfres_sa.scs" '("ff_rfres_sa" "ss_rfres_sa" "tt_rfres_sa" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfres_rpo.scs" '("ff_rfres_rpo" "ss_rfres_rpo" "tt_rfres_rpo" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfres_hri.scs" '("ff_rfres_hri" "ss_rfres_hri" "tt_rfres_hri" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rfsbd.scs" '("ff_rfsbd" "ss_rfsbd" "tt_rfsbd" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_std_mos.scs" '("ff" "fs" "sf" "ss" "tt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_25.scs" '("ff_25" "fs_25" "sf_25" "ss_25" "tt_25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_na.scs" '("ff_na" "ss_na" "tt_na" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_lvt.scs" '("ff_lvt" "fs_lvt" "sf_lvt" "ss_lvt" "tt_lvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_lvt25.scs" '("ff_lvt25" "fs_lvt25" "sf_lvt25" "ss_lvt25" "tt_lvt25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_hvt.scs" '("ff_hvt" "fs_hvt" "sf_hvt" "ss_hvt" "tt_hvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_uhvt.scs" '("ff_uhvt" "fs_uhvt" "sf_uhvt" "ss_uhvt" "tt_uhvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_na25.scs" '("ff_na25" "ss_na25" "tt_na25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_bip.scs" '("ff_bip" "ss_bip" "tt_bip" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_bip_npn.scs" '("ff_bip_npn" "ss_bip_npn" "tt_bip_npn" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio.scs" '("ff_dio" "ss_dio" "tt_dio" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_dnw.scs" '("ff_dio_dnw" "ss_dio_dnw" "tt_dio_dnw" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_hvt.scs" '("ff_dio_hvt" "ss_dio_hvt" "tt_dio_hvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_uhvt.scs" '("ff_dio_uhvt" "ss_dio_uhvt" "tt_dio_uhvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_na.scs" '("ff_dio_na" "ss_dio_na" "tt_dio_na" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_25.scs" '("ff_dio_25" "ss_dio_25" "tt_dio_25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_lvt.scs" '("ff_dio_lvt" "ss_dio_lvt" "tt_dio_lvt" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_lvt25.scs" '("ff_dio_lvt25" "ss_dio_lvt25" "tt_dio_lvt25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_dio_na25.scs" '("ff_dio_na25" "ss_dio_na25" "tt_dio_na25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_res1.scs" '("ff_res" "ss_res" "tt_res" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_res2.scs" '("res_b" "res_t" "res_w" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_disres.scs" '("ff_disres" "ss_disres" "tt_disres" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_mos_cap.scs" '("ff_mos_cap" "ss_mos_cap" "tt_mos_cap" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_mos_cap_25.scs" '("ff_mos_cap_25" "ss_mos_cap_25" "tt_mos_cap_25" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_mim.scs" '("ff_mim" "ss_mim" "tt_mim" ) )
corAddModelFileAndSectionChoices( "tsmc13rf" "cor_rtmom.scs" '("ff_rtmom" "ss_rtmom" "tt_rtmom" ) )


corAddCorner( "tsmc13rf" "typ" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfmos.scs" "tt_rfmos" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfmos25.scs" "tt_rfmos25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfmim.scs" "tt_rfmim" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfind.scs" "tt_rfind" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfmvar.scs" "tt_rfmvar" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfmvar_25.scs" "tt_rfmvar_25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfjvar.scs" "tt_rfjvar" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfres_sa.scs" "tt_rfres_sa" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfres_rpo.scs" "tt_rfres_rpo" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfres_hri.scs" "tt_rfres_hri" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rfsbd.scs" "tt_rfsbd" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_std_mos.scs" "tt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_25.scs" "tt_25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_na.scs" "tt_na" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_lvt.scs" "tt_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_lvt25.scs" "tt_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_hvt.scs" "tt_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_uhvt.scs" "tt_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_na25.scs" "tt_na25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_bip.scs" "tt_bip" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_bip_npn.scs" "tt_bip_npn" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio.scs" "tt_dio" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_dnw.scs" "tt_dio_dnw" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_hvt.scs" "tt_dio_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_uhvt.scs" "tt_dio_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_na.scs" "tt_dio_na" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_25.scs" "tt_dio_25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_lvt.scs" "tt_dio_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_lvt25.scs" "tt_dio_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_dio_na25.scs" "tt_dio_na25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_res1.scs" "tt_res" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_res2.scs" "res_t" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_disres.scs" "tt_disres" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_mos_cap.scs" "tt_mos_cap" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_mos_cap_25.scs" "tt_mos_cap_25" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_mim.scs" "tt_mim" )
corSetCornerGroupVariant( "tsmc13rf" "typ" "cor_rtmom.scs" "tt_rtmom" )
corSetCornerRunTempVal( "tsmc13rf" "typ" 25 )


corAddCorner( "tsmc13rf" "fast_best" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfmos.scs" "ff_rfmos" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfmos25.scs" "ff_rfmos25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfmim.scs" "ff_rfmim" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfind.scs" "ff_rfind" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfmvar.scs" "ff_rfmvar" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfmvar_25.scs" "ff_rfmvar_25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfjvar.scs" "ff_rfjvar" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfres_sa.scs" "ff_rfres_sa" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfres_rpo.scs" "ff_rfres_rpo" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfres_hri.scs" "ff_rfres_hri" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rfsbd.scs" "ff_rfsbd" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_std_mos.scs" "ff" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_25.scs" "ff_25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_na.scs" "ff_na" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_lvt.scs" "ff_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_lvt25.scs" "ff_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_hvt.scs" "ff_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_uhvt.scs" "ff_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_na25.scs" "ff_na25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_bip.scs" "ff_bip" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_bip_npn.scs" "ff_bip_npn" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio.scs" "ff_dio" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_dnw.scs" "ff_dio_dnw" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_hvt.scs" "ff_dio_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_uhvt.scs" "ff_dio_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_na.scs" "ff_dio_na" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_25.scs" "ff_dio_25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_lvt.scs" "ff_dio_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_lvt25.scs" "ff_dio_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_dio_na25.scs" "ff_dio_na25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_res1.scs" "ff_res" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_res2.scs" "res_b" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_disres.scs" "ff_disres" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_mos_cap.scs" "ff_mos_cap" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_mos_cap_25.scs" "ff_mos_cap_25" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_mim.scs" "ff_mim" )
corSetCornerGroupVariant( "tsmc13rf" "fast_best" "cor_rtmom.scs" "ff_rtmom" )
corSetCornerRunTempVal( "tsmc13rf" "fast_best" -25 )


corAddCorner( "tsmc13rf" "slow_worst" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfmos.scs" "ss_rfmos" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfmos25.scs" "ss_rfmos25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfmim.scs" "ss_rfmim" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfind.scs" "ss_rfind" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfmvar.scs" "ss_rfmvar" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfmvar_25.scs" "ss_rfmvar_25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfjvar.scs" "ss_rfjvar" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfres_sa.scs" "ss_rfres_sa" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfres_rpo.scs" "ss_rfres_rpo" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfres_hri.scs" "ss_rfres_hri" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rfsbd.scs" "ss_rfsbd" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_std_mos.scs" "ss" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_25.scs" "ss_25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_na.scs" "ss_na" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_lvt.scs" "ss_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_lvt25.scs" "ss_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_hvt.scs" "ss_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_uhvt.scs" "ss_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_na25.scs" "ss_na25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_bip.scs" "ss_bip" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_bip_npn.scs" "ss_bip_npn" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio.scs" "ss_dio" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_dnw.scs" "ss_dio_dnw" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_hvt.scs" "ss_dio_hvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_uhvt.scs" "ss_dio_uhvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_na.scs" "ss_dio_na" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_25.scs" "ss_dio_25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_lvt.scs" "ss_dio_lvt" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_lvt25.scs" "ss_dio_lvt25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_dio_na25.scs" "ss_dio_na25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_res1.scs" "ss_res" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_res2.scs" "res_w" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_disres.scs" "ss_disres" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_mos_cap.scs" "ss_mos_cap" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_mos_cap_25.scs" "ss_mos_cap_25" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_mim.scs" "ss_mim" )
corSetCornerGroupVariant( "tsmc13rf" "slow_worst" "cor_rtmom.scs" "ss_rtmom" )
corSetCornerRunTempVal( "tsmc13rf" "slow_worst" 75 )
